<!--The content below is only a placeholder and can be replaced.-->
<div>
  <table>
    <tr>
      <th>Data</th>
      <th>Subject</th>
      <th>Name</th>
      <th>Mark</th>
    </tr>
    <tr>
      <td>dataset-A</td>
      <td>
        <div #subjectAGraph></div>
      </td>
      <td>
        <div #nameAGraph></div>
      </td>
      <td>
        <div #markAGraph></div>
      </td>
    </tr>
    <tr>
      <td>dataset-B</td>
      <td>
        <div #subjectBGraph></div>
      </td>
      <td>
        <div #nameBGraph></div>
      </td>
      <td>
        <div #markBGraph></div>
      </td>
    </tr>
  </table>
</div>
