<!--The content below is only a placeholder and can be replaced.-->
<div>
  <table>
    <tr>
      <th>Data</th>
      <th>Subject</th>
      <th>Name</th>
      <th>Mark</th>
    </tr>
    <tr>
      <td>dataset-A</td>
      <td>
        <div #subjectA></div>
      </td>
      <td>
        <div id ='nameA'></div>
      </td>
      <td>
        <div id ='markA'></div>
      </td>
    </tr>
    <tr>
      <td>dataset-B</td>
      <td>
        <div id ='subjectB'></div>
      </td>
      <td>
        <div id ='nameB'></div>
      </td>
      <td>
        <div id ='markB'></div>
      </td>
    </tr>
  </table>
</div>
